#red{
    color: red;
}
#blue{
    color: blue;
}
#green{
    color: green;
}
#gold{
    color: gold;
}
.title{
    font-weight: bold;
    text-align: center;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
caption{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
